
marquee{
    background-color: black;
    color: aqua;
    height: 30px;
    width: 1440px;
    padding-top: 8px;
    /* position: fixed;
    top: 0px; */
}
#nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    font-family: sans-serif;
    margin-top: -5px;
    height: 55px;
    width: 1440px;
    background-color: rgb(37,37,37);
    color: white;
}
.nav-div{
    padding-right: 10px;
}
.nav-div>div{
    padding: 6px;
    margin: auto;
}
.ab-img{
    height: 40px;
}
#nav1>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* more brands dropdown */
.dropbtn {
    background-color: rgb(37,37,37);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn::after{
    content: '▼';
}

.dropdown-content {
    display:none;
    background-color: white;
    min-width: 200px;
    position: absolute;
    top: 50px;
}
.dropdown-content>div {
    height: 200px;
    width: 1440px;
    display: grid;
   grid-template-columns: repeat(5, 160px);
   grid-template-rows: repeat(2, 70px);
   gap: 20px;
}
.dropdown-content>div>a>img{
    height: 60px;
    width: 150px;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: lightgray;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: rgb(77, 76, 76);
}

/* log in button dropdown */
.dropdown2{

    position: relative;
    
    background-color: rgb(37,37,37);
    color: white;
    padding: 2px;
    font-size: 16px;
    border: none;
    
}
.DROPDOWNBTN2{
    
    background-color: rgb(37,37,37);
    color: white;
    border: none;
    font-size: 19px;
}
.login-button{
    height: 40px;
    width: 200px;
    color: black;
    background-color: white;
}
.login-button>a{
    color: black;
    font-size: 16px;
    text-decoration: none;
}
.dropdown-content2{
    display: none;
    position: absolute;
    top: 47px;
    right: 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: white;
    min-width: 300px;
    height: 260px;
    
}
.dropdown-content2>div>div:first-child {
    background-color: rgb(12,35,64);
    height: 130px;
    width: 100%;
   margin-top: -15px;
    font-size: 13px;
    text-align: center;

}
p{
    padding-top: 15px;
}
.logo>div{
    display: flex;
    color: black;
    font-size: 14px;
    padding-left: 15px;
}
.logo>div>div{
    padding: 15px;
    font-family: sans-serif;
}
.dropdown2:hover .dropdown-content2 {
    display: block;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
h5{
    padding-left: 50px;
}
/*  2nd nav bar */
#reebok-nav{
    height: 60px;
    width: 1440px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

}
.reebok-nav-img{
    width: 200px;
    height: 45px;
    margin: 10px 0px 10px 50px;
}

/* 2nd nav content */
.menubar{
    font-size: 20px;
    color: black;
    margin-top: 20px;
}
.menubar>a{
    text-align: center;
    text-decoration: none;
    color: black;
    padding-left: 30px;
    
}
span{
    padding-top: 10px;
    font-size: 20px;
}
.searchbar{
display: flex;
height: 50px;
width: 150px;
margin-top: 5px;
margin-left: 20px;
border-bottom: 1px solid rgba(128, 128, 128, 0.319);
}
input{
    border: none;
}
#DELIVERYbtn{
background-color: rgb(196,12,47);
color: white;
width: 200px;
height: 50px;
display: flex;
border: none;
margin-top: 5px;
border-radius: 50px;

}
.DELIVERY{
    padding-left: 20px;
}
#DELIVERYbtn>div>div{
    padding: 0px;
    margin: -10px;
    margin-left: -60px;
    font-size: 10px;
}
h3{
    font-size: 12px;
}
#DELIVERYbtn>div>span{
    padding: 10px;
}
/* shoes content cards */
#shoes-content{
width: 1440px;
height: 800px;
display: grid;

grid-template-columns: 340px 340px 340px 340px;
grid-template-rows: 570px;
gap: 20px;
}
.TEXT{
    background: radial-gradient(rgb(168, 245, 168) , rgb(63, 132, 63));
    color: white;
    width: 120px;
    height: 20px;
    position: relative;
    TOP: 30px;
    font-family: sans-serif;
    padding-top: 2px;
    text-align: center;
}
.shoes-card{
    margin-top: 200px;
    margin-left: 20px;
    height: 570px;
    border-radius: 8px;
    width: 340px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.img-item1{
    position: relative;
    top: -420px;
    left: 300px;
    height: 30px;
    width: 30px;
}
.img-item2{
    position: relative;
    top: 420px;
    left: 290px;
}
.img-item3{
    
    height: 450px;
    width: 340px;
    border-radius: 10px;
    margin-top: -85px;
}
.shoes-content-bottom{
    margin-left: 20px;
    margin-top: -10px;
    height: 100px;
}
.shoes-content-bottom>p{
    padding-top: 0px;
    margin-top: -10PX;

}
.shoes-content-bottom>h2{
    padding-top: 0px;
    margin-top: -10PX;
}
#support-btn{
    position: fixed;
    top: 600px;

    left: 1350px;
    border: none;
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#support-btn>img{
    
    border-radius: 50px;
    height: 50px;
    width: 40px;
}

.green{
    height: 5px;
    width: 5px;
    background-color: green;
}
/* tablet screen */

@media screen and (min-width:350px) and ( max-width:767px){
    marquee{
        background-color: black;
        color: aqua;
        height: 30px;
        width: 767px;
        padding-top: 8px;
        /* position: fixed;
        top: 0px; */
    }
    #nav1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        font-family: sans-serif;
        margin-top: -5px;
        height: 55px;
        width: 767px;
        background-color: rgb(37,37,37);
        color: white;
    }
    .dropdown-content>div {
        height: 400px;
        width: 767px;
        display: grid;
       grid-template-columns: repeat(3, 160px);
       grid-template-rows: repeat(3, 70px);
       gap: 10px;
    }
    .dropdown2{
        display: none;
    }
    #shoes-content{
        width: 398px;
        height: 2400px;
        display: grid;
        
        grid-template-columns: 340px 340px ;
        grid-template-rows: 570px 570px  ;
        gap: 20px;
        }
        .shoes-card{
            margin-top: 20px;
            margin-left: 50px;
        }
        .dropbtn {
            background-color: rgb(37,37,37);
            color: white;
            width: 150px;
            padding: 1px;
            font-size: 10px;
            border: none;
        }
   
    .DELIVERY{
        display: none;
    }
    .searchbar{
        display: none;
        
        }
        input{
            border: none;
        }
        #DELIVERYbtn{
            display: none;
        
        }
        .ab-img{
            display: none;
        }
        .reebok-nav-img{
           position: relative;
           left: 600px;
           top: 10px;
           height: 15px;
           width: 100px;
        }
        .menubar{
            position: relative;
            left: 10px;
            margin-left: -150px;
            padding-left: 1px;
            font-size: 12px;
        }
        #reebok-nav{
        
            height: 60px;
            width: 767px;
            display: flex;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        
        }
        
        .nav-div{
            color: rgb(37,37,37);
        }
}
/* mobile screen */
@media screen and (min-width:150px) and ( max-width:349px) {
    marquee{
        background-color: black;
        color: aqua;
        height: 30px;
        width: 399px;
        padding-top: 8px;
        /* position: fixed;
        top: 0px; */
    }
    #nav1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        font-family: sans-serif;
        margin-top: -5px;
        height: 55px;
        width: 399px;
        background-color: rgb(37,37,37);
        color: white;
    }
    .dropdown-content>div {
        height: 400px;
        width: 399px;
        display: grid;
       grid-template-columns: repeat(3, 160px);
       grid-template-rows: repeat(3, 70px);
       gap: 10px;
    }
    .dropdown2{
        display: none;
    }
    #shoes-content{
        width: 398px;
        height: 2400px;
        display: grid;
        
        grid-template-columns: 340px  ;
        grid-template-rows: 570px 570px 570px 570px ;
        gap: 20px;
        }
        .shoes-card{
            margin-top: 20px;
            margin-left: 20px;
        }
        .dropbtn {
            background-color: rgb(37,37,37);
            color: white;
            width: 150px;
            padding: 1px;
            font-size: 10px;
            border: none;
        }
   
    .DELIVERY{
        display: none;
    }
    .searchbar{
        display: none;
        
        }
        input{
            border: none;
        }
        #DELIVERYbtn{
            display: none;
        
        }
        .ab-img{
            display: none;
        }
        .reebok-nav-img{
          height: 10px;
          width: 70px;
          position: relative;
          top: 15px;
          left: 110px;
        }
        .menubar{
            

            margin-left: -130px;
            padding-left: -10px;
            font-size: 12px;
        }
        #reebok-nav{
            height: 60px;
            width: 399px;
            display: flex;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        
        }
        .nav-div{
            color: rgb(37,37,37);
        }
}
